@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li {
    @apply px-2;
}

.bg-primary {
    background:#eff0f3;
}

.bg-secondary {
    background:#ff8e3c;
}

.mobile-nav {
    @apply fixed top-10 left-0 bg-gray-800 w-full h-1/4 ;
}

.mobile-nav li {
    @apply w-full h-full text-center border-b-2;
}
.project-desc {
    @apply absolute left-0 right-0 bottom-0 top-0 bg-secondary opacity-0 duration-500;
}
.project-desc:hover {
    opacity: 1;
}
.btn {
    @apply bg-primary px-5 py-2 font-bold hover:border-2 border-black rounded;
}
html {
    scroll-behavior:smooth;
}

.click-icon {
  display: inline-block;
  cursor: pointer;
}

.click-icon:active {
  animation: hand-click 0.2s;
}

@keyframes hand-click {
  0% {
    transform: scale(1);
    filter: brightness(1);
  }
  50% {
    transform: scale(0.95);
    filter: brightness(0.8);
  }
  100% {
    transform: scale(1);
    filter: brightness(1);
  }
}